@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About Page";

}

<div class="container">
    <div class="row" style="margin-top:15%;">
        <div class="col-md-6">
            <h1 class="mb-4">About</h1>
            <p class="mb-4">
                Hello! I'm Emrecan, a Computer Engineering student studying at Piri Reis University. I've entered the software world with technologies like ASP.NET Core, Entity Framework, and Angular. I'm the owner of Creative Codes and a passionate coder. Learning new things in every project excites me. I'm 22 years old and continuously developing myself in the software realm.
            </p>
            <p>
                I'm eager to share my experiences and work on new projects. My interests include user experience design, data analysis, and artificial intelligence. My passion for technology drives me to constantly explore and learn new things.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/assets/images/me.jpg" alt="Hakkımda Resmi" class="img-fluid rounded-circle mb-4" style="max-width: 80%; height: auto;">
            <p class="text-muted">Emrecan</p>
        </div>
    </div>
</div>