@using BlogProject.Entites
@model User
@{
    ViewData["Title"] = "Register Page";
}

<div class="container">
    <div class="register-container bg-lynxWhite">
        <h2 class="text-center">Register</h2>
        <form method="Post" asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" asp-for="FirstName" name="firstName" placeholder="Enter your first name">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" asp-for="LastName" placeholder="Enter your last name">
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="mail" name="mail" asp-for="Mail" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" asp-for="Password" placeholder="Enter your password">
            </div>
            <div class="mb-3">
                <label for="profilePicture" class="form-label">Profile Picture</label>
                <input type="file" class="form-control" id="profilePicture" asp-for="ProfilePicture" name="profilePicture">
            </div>
            <button type="submit" class="btn bg-mediterranean w-100 text-white">Register</button>
        </form>
    </div>
</div>

